@import '../../styles/сolors';

.Task {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  position: relative;

  p {
    padding: 0;
    margin: 0;
    width: 80%;
  }
}

.Task:hover {
  cursor: pointer;
  background-color: lighten($main_blue, 32%);
}

.Task-dropDown {
  position: absolute;
  top: 7px;
  left: 232px;
  width: 35px;
  height: 27px;
  z-index: 20;
  border-radius: 5px;
  background-color: lighten(gray, 39%);

  img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    left: 7px;
  }

  ul {
    top: 30px;
    right: 0;
  }
}

.dragged {
  @extend .Task;
  width: 270px;
}