@import '../../../styles/Ñolors';

.BoardItem-container {
  width: 300px;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 10px;
  background-color: $boards_background_color;
}

.BoardItem {
  width: inherit;
  position: relative;

  > div:last-child {
    margin-bottom: 15px;
    width: 90%;
    margin-left: 15px;
    padding: 10px;
  }
}

.BoardItem-name {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 2;
  background-color: $boards_background_color;
  margin-bottom: 15px;
  width: 300px;
  height: 50px;
  line-height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .BoardItem-name-text {
    padding-left: 20px;
    display: block;
    width: 80%;
  }

  .BoardItem-name-border {
    height: 1px;
    width: 95%;
    margin: 0 auto;
    border-bottom: 2px solid darkgray;
  }

  input[type='text'] {
    width: 95%;
    margin-left: 8px;
    border: 1px solid darkgray;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
  }

  input[type='text']:focus {
    border-color: $main_blue;
  }
}

.DropDownMenu {
  position: absolute;
  top: 7px;
  left: 257px;
  width: 35px;
  height: 27px;
  z-index: 10;
  border-radius: 5px;

  img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    left: 7px;
  }
}

.BoardItem-tasks {
  word-wrap: break-spaces;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: $boards_background_color;

  div {
    width: 90%;
    margin: 10px auto;
  }
}

.BoardItem-newTask {
  resize: none;
  width: 90%;
  margin-left: 15px;
  height: 100px;
  border-radius: 5px;
}

.BoardItem-newTask:focus {
  outline: none;
  border: 2px solid $main_blue;
}
