@import '../../../styles/сolors';

.BoardItem {
  display: inline-block;
  vertical-align: top;
  background-color: $boards_background_color;
  width: 300px;
  min-height: 200px;
  border-radius: 10px;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.BoardItem-name {
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
}

.BoardItem-name:after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  border-bottom: 2px solid darkgray;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.BoardItem-tasks {
  margin-bottom: 10px;
}

.BoardItem-newTask {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
}

.BoardItem-newTask:focus {
  outline: none;
  border: 2px solid $main_blue;
}
