@import '../../styles/Ñolors';

.Board-container {
  height: 100%;
  overflow: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.Board {
  padding: 10px;
  position: relative;
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
}

.Board > div:last-child {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  height: 35px;
}
