@import '../../styles/Ñolors';

.Board {
  padding: 10px;
  position: relative;
  overflow: auto;
}

.Board > div:last-child {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  height: 35px;
}
