.Board {
  padding: 10px;
}

.Board_item {
  display: inline-block;
  background-color: lightgray;
  width: 300px;
  min-height: 200px;
  border-radius: 10px;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.Board_item_name {
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
}
.Board_item_name:after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  border-bottom: 2px solid darkgray;
  position: absolute;
  bottom: -5px;
  left: 0;
}
