@import '../../styles/Ñolors';

.Board {
  padding: 10px;
  display: flex;
  position: relative;
}

.Board > div:last-child {
  position: relative;
  display: inline-block;

  border-radius: 10px;
  height: 35px;
}

