@import '../../styles/Ñolors';

.Board-container {
  height: calc(100% - 30px);
  overflow: auto;
  padding-bottom: 30px;
  margin-top: 30px;
}

.Board {
  position: relative;
  width: 100%;
  display: flex;
}

.Board > div:last-child {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  height: 35px;
}
