@import "../../styles/сolors";

.EditTask {
  display: flex;
  width: 50vw;
  flex-direction: column;
  padding: 5px 5px 20px 20px;
}
.EditTask-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;

  div {
    cursor: pointer;
    width: 15px;

    img {
      width: inherit;
    }
  }
}
.EditTask-items {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .left {
    width: 69%;
  }

  .right {
    width: 29%;
  }
}

.EditTask-taskText {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  height: 35px;
  line-height: 31px;
  vertical-align: middle;
  border: 2px solid transparent;
}

.EditTask-taskText:hover {
  cursor: pointer;
  background-color: lightgrey;

}
.EditTask textarea:first-child {
  display: block;
  width: 100%;
  outline: none;
  resize: none;
  line-height: 31px;
  vertical-align: middle;
  padding: 0 0 0 10px;
  height: 35px;
}

.EditTask textarea:first-child:focus {
  border-color: $main_blue;
}
.EditTask-taskDescription {
  width: 100%;

  p:first-child {
    padding: 0 0 0 10px;
    font-weight: bold;
  }

  .EditTask-description {
    width: 98%;
    max-height: 300px;
    padding: 5px 10px;
    white-space: pre-wrap;
    overflow: auto;
  }

  .EditTask-description:hover {
    cursor: pointer;
    background-color: lighten(gray, 30%);
  }

  .AddFormatText {
    textarea {
      width: 98%;
      height: 200px;
      padding: 5px 10px;
      border: 2px solid transparent;
      resize: none;
    }

    textarea:focus {
      border-color: $main_blue;
    }
  }
}